<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="IronSchemeTweetBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <IronSchemeTweetBot.Properties.Settings>
            <setting name="SinceId" serializeAs="String">
                <value>646808514627772416</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
        </IronSchemeTweetBot.Properties.Settings>
    </userSettings>
</configuration>
